<p>
  <strong>Product:</strong>
  <%= @j_product_label.product_id %>
</p>

<p>
  <strong>Label:</strong>
  <%= @j_product_label.label_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @j_product_label.user_id %>
</p>

<%= link_to 'Edit', edit_j_product_label_path(@j_product_label) %> |
<%= link_to 'Back', j_product_labels_path %>
