<p>
  <strong>Energy:</strong>
  <%= @nutval.energy %>
</p>

<p>
  <strong>Proteins:</strong>
  <%= @nutval.proteins %>
</p>

<p>
  <strong>Carbohydrates:</strong>
  <%= @nutval.carbohydrates %>
</p>

<p>
  <strong>Sugar:</strong>
  <%= @nutval.sugar %>
</p>

<p>
  <strong>Fat:</strong>
  <%= @nutval.fat %>
</p>

<p>
  <strong>Saturated:</strong>
  <%= @nutval.saturated %>
</p>

<p>
  <strong>Monounsaturated:</strong>
  <%= @nutval.monounsaturated %>
</p>

<p>
  <strong>Polyunsaturated:</strong>
  <%= @nutval.polyunsaturated %>
</p>

<p>
  <strong>Roughages:</strong>
  <%= @nutval.roughages %>
</p>

<p>
  <strong>Natrium:</strong>
  <%= @nutval.natrium %>
</p>

<p>
  <strong>Alcohol:</strong>
  <%= @nutval.alcohol %>
</p>

<%= link_to 'Edit', edit_nutval_path(@nutval) %> |
<%= link_to 'Back', nutvals_path %>
