<h1><%= t(:comments_title, count: 2) %></h1>

<%= will_paginate @comments %>

<table class="table table-striped table-condensed">
  <thead>
    <tr>
		<th><%= t(:comments_title, count: 1) %></th>
		<th><%= t(:users_title, count: 1) %></th>
	  <th><%= t(:veganity_title) %></th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= link_to truncate(comment.comment), comment %></td>
        <td><%= link_to comment.user.nickname, user_path(comment.user_id) %></td>
        <td><%= comment.veganity.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @comments %>
