<% provide(:title, t(:products_title, count: 2)) %>

<h1><%= t("products_title.other") %></h1>

<p>
<%= link_to t("form.new", genus: t("form.n"), model: t("products_title.one")), new_product_path, { :class => "btn" } %>
</p>
<hr>

<div class="center">
	<%= will_paginate @products %>
</div>

<table class="table table-striped table-condensed">
  <thead>
    <tr>
      <!-- <th><%#= t("activerecord.attributes.product.gtin").html_safe %></th> -->
<!--      <th><%= t("activerecord.attributes.product.image") %></th>-->
      <th><%= t("activerecord.attributes.product.name") %></th>
      <th><%= t("activerecord.attributes.product.brand") %></th>
      <th><%= t("activerecord.attributes.product.veganity_id") %></th>
    </tr>
  </thead>

  <tbody>
    <% @products.order("LOWER(name) ASC").each do |product| %>
      <tr class="<%= product.veganity.color %>">
	<!-- <td><%#= product.gtin %></td> -->
	<!--<% if !product.image.blank? %>
	  <td><%= image_tag product.image.url(:thumb), class: "img-polaroid" %></td>
	<% else %>
	  <td></td>
	<% end %>-->
	<td><%= link_to product.name, product %> <%= "("+product.packagesize+")" unless product.packagesize.blank? %></td>
	<td>
	  <% if !product.brand.blank? %>
	    <%= link_to product.brand.name, brand_path(product.brand_id) %>
	  <% end %>
	</td>
        <td><%= product.veganity.name.capitalize %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="center">
	<%= will_paginate @products %>
</div>

<hr>
<p>
<%= link_to t("form.new", genus: t("form.n"), model: t("products_title.one")), new_product_path, { :class => "btn" } %>
</p>
