<footer class="footer">
	<small>
		<%= t(:yava) %> <%= t(:footer_by) %> <%= link_to "Yannic Haupenthal", "//yhaupenthal.org" %>
	</small>
	<nav>
		<ul>
			<li><small><%= link_to t(:sitemap_title), sitemap_path %></small></li>
			<li><small><%= link_to t(:about_title), about_path %></small></li>
			<li><small><%= link_to t(:contact_title), "//yhaupenthal.org/contact.htm" %></small></li>
			<li><small><%= link_to t(:news_title), "//yhaupenthal.org/bachelor.htm" %></small></li>
			<li><small><%= link_to t(:tos_title), tos_path %></small></li>
		</ul>
	</nav>
</footer>
